.button_1{
   text-align:center;
   padding-right:35px;
   
}

.button_2{
   text-align:center;
   padding-right:35px;
}

.button_3{
   text-align:center;
   padding-right:35px;
}

.button_4{
   text-align:center;
   padding-left:10px;
   margin: 10px 70px 260px 380px;
}
